*.build
*.cdbs-config_list
*.changes
*.deb
*.diff.gz
*.dsc
*.la
*.lo
*.loT
*.log
*.m4
*.mo
*.o
*.pyc
*.sub
*.tar.gz
.*.swp
.deps
.pc
Makefile
Makefile.in
autom4te.cache
config.guess
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
tags
