{% extends WEBENGINE_SKIN %}
{% load i18n %}

{% block optional_css %}
        <link type="text/css" rel="stylesheet" href="/medias/spv/css/spv.css" />
{% endblock %}

{% block optional_js %}
        <script language="javascript" src="/medias/spv/js/spv.js"></script>
{% endblock %}




{% block fullpage %}
    <div class="popup-background"></div>
    <div class="popup-div"></div>
    <div class='spv-searchform'>
        <span class='spv-searchtitle'> Filter spv status </span>
        <form id='searchform' action="{% url spv-index %}" method="POST">
            <table class='search'>
                <tr><td><span>{{ form.address.label }}</span></td><td>{{ form.address }} </td></tr>
                <tr><td><span>{{ form.status.label }} </span></td><td>{{ form.status }}  </td></tr>
                <tr><td><span>{{ form.group.label }}  </span></td><td>{{ form.group }}   </td></tr>
                <tr><td><span>{{ form.check.label }}  </span></td><td>{{ form.check }}   </td></tr>
                <tr><td><span>{{ form.display.label }}  </span></td><td>{{ form.display }}   </td></tr>
                <tr><td><span>{{ form.refresh.label }}  </span></td><td>{{ form.refresh }}   </td></tr>
                <tr><td colspan=2> <input type="submit"></input> </td></tr>
            </table>
        </form>
    </div>
    {% ifequal display 'STATUS' %}
    <div class='search-results'>
    {% for group in groups %}
        <div class='group'> {{ group.name }} </div>
        <table class='status'>
            <tr class='tabletitle' cols={{group.checks|length}}>
                <td style='text-align: left'>Address</td>
                {% for check in group.checks %} <td>
                    <strong>{{ check.plugin }}</strong><br/>
                    {{ check.check }}
                </td> {% endfor %}
            </tr>
            {% for obj in group.objects %} <tr>
                <td class="objectaddress"> {{ obj.address }}</td>
                {% for item in obj.status %}
                    <td class='check'>
                    {% if item.overdue %}
                        <div id="status{{ item.status_id }}" class="overdue">
                    {% else %} {% if item.acknowledged %}
                        <div id="status{{ item.status_id }}" class="acknowledged">
                    {% else %}
                        <div id="status{{ item.status_id }}" class="{{ item.check_status|lower }}">
                    {% endif %}{% endif %}
                        <a id="{{ item.status_id }}" href="#">{{ item.check_status|title }}</a>
                    </div>
                </td>
                {% endfor %}
            </tr> {% endfor %}
        </table>
    {% endfor %}
    </div>
    {% endifequal %}

    {% ifequal display 'HISTORY' %}
    <div class='search-results'>
    <table class='status'>
        <tr class='tabletitle' cols={{group.checks|length}}>
            <td style='text-align: left'>Status changed</td>
            <td style='text-align: left'>Group</td>
            <td style='text-align: left'>Check</td>
            <td style='text-align: left'>Address</td>
            <td style='text-align: left'>Status</td>
        </tr>
        {% for st in status %}<tr>
            <td> {{ st.status_changed_date }} </td>
            <td> {{ st.group_name }} </td>
            <td> {{ st.check_plugin }}-{{ st.check_plugin_check }} </td>
            <td> {{ st.object_address }} </td>
            <td class='check'>
                {% if st.acknowledged %}<div id="status{{ st.status_id }}" class="acknowledged">
                {% else %} <div id="status{{ st.status_id }}" class="{{ st.check_status|lower }}">
                {% endif %}
                    <a id="{{ st.status_id }}" href="#">{{ st.check_status|title }}</a>
                </div>
            </td>
        </tr>{% endfor %}
    </table>
    </div>
    {% endifequal %}

{% if refresh %}
    <script language="javascript">
        setTimeout("submitSearch()", {{ refresh_interval }});
    </script>
{% endif %}

{% endblock fullpage %}
