{% load i18n %}
{% block optional_css %}
        <link type="text/css" rel="stylesheet" href="/medias/spv/css/spv.css" />
        <link type="text/css" rel="stylesheet" href="/medias/spv/css/statusdetails.css" />
{% endblock %}
{% block optional_js %}
        <script language="javascript" src="/medias/spv/js/statusdetails.js"></script>
{% endblock %}


{% block fullpage %}
<div id='popup-container' style='height: 100%'>

    {% ifequal retcode 'ok' %}
        <div class='detail_title'> Status details for object {{ object_address }} </div>

        <div style='height: 230px; overflow: auto'>
            <table class='details'>

            <tr><td class='detail_key'>Status:</td><td class='detail_value'>{{ check_status }} </td></tr>
            <tr><td class='detail_key'>Check message:</td><td class='detail_value'>
            {% for message in check_message %}
            {{ message }} <br/>
            {% endfor %}
            </td></tr>
            <tr><td class='detail_key'>Last check:</td><td class='detail_value'>{{ last_check }} </td></tr>
            <tr><td class='detail_key'>Next check:</td><td class='detail_value'>{{ next_check }} <a onclick="reschedule_check({{ status_id }})" href="#">(reschedule right now)</a> </td></tr>
            <tr><td class='detail_key'>Status changed:</td><td class='detail_value'>{{ status_changed_date }}</a> {% if not acknowledged %} <a onclick="acknowledge_status({{ status_id }})" href="#">(Acknowledge now)</a> {% endif %} </td></tr>
            {% ifnotequal check_status 'FINISHED' %}
                {% if acknowledged %}
                <tr><td class='detail_key'>Acknowledge date:</td><td class='detail_value'>{{ status_acknowledged_date }} </td></tr>
                {% endif %}
            {% endifnotequal %}

            <tr><td class='detail_key'>Group:</td><td class='detail_value'>{{ group_name }} </td></tr>
            <tr><td class='detail_key'>Plugin:</td><td class='detail_value'>{{ check_plugin }} </td></tr>
            <tr><td class='detail_key'>Check:</td><td class='detail_value'>{{ check_plugin_check }} </td></tr>
            <tr><td class='detail_key'>Description:</td><td class='detail_value'>{{ check_name }} </td></tr>
            <tr><td class='detail_key'>Repeat</td><td class='detail_value'>{{ check_repeat }} </td></tr>
            <tr><td class='detail_key'>Repeat on error:</td><td class='detail_value'>{{ check_repeat_on_error }} </td></tr>

            <tr><td class='detail_key'>Object infos:</td><td class='detail_value'>
                {% for object_info in object_infos %}
                    {{ object_info.name }} = {% if object_info.link %} <a href="{{ object_info.value }}"> {% endif %} {{ object_info.value }} {% if object_info.link %} </a> {% endif %}<br/>
                {% endfor %}
            </td></tr>
            <tr><td class='detail_key'>Check infos:</td><td class='detail_value'>
                {% for check_info in check_infos %}
                    <span class='info_key'>{{ check_info.name }}</span> = {% if check_info.link %} <a href="{{ check_info.value }}"> {% endif %} {{ check_info.value }} {% if check_info.link %} </a> {% endif %}<br/>
                {% endfor %}
            </td></tr>

            </table>
        </div>

        <div style='height: 260px; overflow: auto'>
            <table class='sinfos'>
            {% for status_info in status_infos %}
                <tr><td class='sinfo_key'> {{ status_info.key }} </td><td class='sinfo_value'> {{ status_info.value }} </td></tr>
            {% endfor %}
            </table>
        </div>

    </div>
    {% else %}
        <div class='error'> {{ retmsg }} </div>
    {% endifequal %}



    {% endblock fullpage %}
