body {
    font-family: Helvetica, Arial;
    font-size: 11px;
}

/* Table of objects */
table,tr,td {
    border-collapse: collapse;
}

.popup-background {
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
background:#000000;
border:1px solid #cecece;
z-index:99;
filter:alpha(opacity=50);
opacity: 0.6;
-moz-opacity:0.6;
}

.popup-div {
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:550px;
width:700px;
top:0;
left:0;
background:#ffffff;
border:1px solid #cecece;
z-index:100;
}

.search-results {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.group {
    font-size: 15pt;
    margin-top: 25px;
    margin-bottom: 15px;
}

table tr.tabletitle td{
    text-align: center;
    border-bottom: 1px solid #888888;
    font-weight: bold;
}

table.status {
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}

table.status tr {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
}

table.status td {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
}

table.status td.objectaddress {
    text-align: left;
}



.check {
    text-align: center;
}

.check a {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
}

.warning {
    background-color: #FFE1A9;
}

.error {
    background-color: #FCD5D5;
}

.finished {
    background-color: #D5FCDE;
}

.acknowledged {
    background-color: #D5FCDE;
}

.overdue {
    background-color: #FF0000;
}

table.search td {
    text-align: right;
}
table.search span {
    font-weight: bold;
}

.spv-searchform {
    margin-left: 15px;
    margin-top: 15px;
}
.spv-searchfield {
    margin-top: 15px;
    font-weight: bold;
}
.spv-searchtitle {
    font-weight: bold;
    font-size: 13pt;
    padding-bottom: 15px;
}
