.details li {
        list-style:none;
}

.detail_key {
    color: #efd087;
    font-size: 8pt;
    text-align: right;
    margin-right: 20px;
    width: 200px;
    float: left;
    font-weight: bold;
}

.detail_value {
    color: #000000;
    font-size: 8pt;
    text-align: left;
}

.check_message_title {
    color: #efd087;
    font-size: 8pt;
    padding-top: 20px;
    font-weight: bold;
    margin-left: 50px;
}

.check_message_value {
    color: #000000;
    font-size: 8pt;
    text-align: left;
    width:600px;
    margin-left: 50px;
}


.detail_title {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 30px;
}

.detail_check_message {
    padding-top: 30px;
    margin-top: 30px;
}

.sinfos {
    margin-left: 20px;
}

.info_key {
    font-weight: bold;
}

.sinfo_key {
    color: #859cd7;
    font-size: 7pt;
    text-align: right;
    float: left;
    font-weight: bold;
}

.sinfo_value {
    color: #000000;
    font-size: 7pt;
    text-align: left;
}
